<h1>Post A Product</h1>
<form id='inputForm'>
    <label for="imageInput">Image Path<br><input id="imageInput" type="text"/></label><br>
    <label for="summaryInput">Summary<br><textarea id="summaryInput"></textarea></label><br>
    <label for="dateInput">Due Date<br><input id="dateInput" type="date"/></label><br>
    <label for="bodyInput">Note Body<br><textarea id="bodyInput"></textarea></label><br>
    <input id="submitButton" type="submit"/>
</form>
<a href="../notes">Back to Note List</a>