<div>
<h1>Post A Product</h1>
<form id='inputForm'>
    <label for="imageInput">Image Path<br><input id="imageInput" type="text"/></label><br>
    <label for="titleInput">Title<br><input id="titleInput"></label><br>
    <label for="labelInput">label<br><input id="labelInput"></label><br>
    <label for="descriptionInput">Description<br><textarea id="descriptionInput"></textarea></label><br>
    <label for="priceInput">Price<br><input id="priceInput" type="number" min="1"></label><br>
    <input id="submitButton" type="submit"/>
</form>
</div>
<script type="text/javascript" src="/javascripts/postProduct.js"></script>