<div>
<h1>Post A Product</h1>
<form id='inputForm'>
    <div class="col-xs-12">
        <label for="imageInput">Image Path<br><input class="form-control" id="imageInput" type="text"/></label><br>
    </div>
    <div class="col-xs-12">
        <label for="titleInput">Title<br><input class="form-control" id="titleInput"></label><br>
    </div>
    <div class="col-xs-12">
        <label for="labelInput">label<br><input class="form-control" id="labelInput"></label><br>
    </div>
    <div class="col-xs-12">
        <label for="descriptionInput">Description<br><textarea class="form-control" id="descriptionInput"></textarea></label><br>
    </div>
    <div class="col-xs-12">
        <label for="priceInput">Price<br><input class="form-control" id="priceInput" type="number" min="1"></label><br>
    </div>
    <div class="col-xs-12">
        <input class="btn btn-success" id="submitButton" type="submit"/>
    </div>
</form>
</div>
<script type="text/javascript" src="/javascripts/postProduct.js"></script>